# Data Analysis With PANDAS
### Pandas- Part 1

`Pandas` is a powerful Data analysis and Manipulation library for Python. It is basically used for manipulation of tabular data(similar to the data stored in spreadsheet). Additionally Pandas supports wide range of functionality to read huge data from varipus file formats like CSV, Excel sheets, JSON, HTML, SQL and so on. 

Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with "relational" or "labelled" data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has
the broader goal of becoming the most powerful and flexible open source data.

### Main Features Of Pandas

With reference to Python Documentation, Here are a few of the features that Pandas does well:

    • Easy handling of missing data in floating point and non-floating point data types.
    • Pandas provides size mutability feature by which we can insert and delete columns from DataFrame and higher dimensional objects. 
    • Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations.
    • Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data.
    • Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects.
    • Intelligent label-based slicing, fancy indexing, and sub-setting of large data sets.
    • Intuitive merging and joining data sets.
    • Flexible reshaping and pivoting of data sets.
    • Time series-specific functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging.

Before diving deep into Pandas, it has to be installed using pip.

### Installation
```py
pip install pandas
```

### Create DataFrame

A DataFrame is a table-like representation of the data. The data is organized into 2-dimensional table consisting of horizontal rows and vertical columns much like a spreadsheet.

In [10]:
import pandas as pd
import numpy as np

In [47]:
df = pd.DataFrame({
    "Anime":
    [
        "One Piece","Naruto","Bleach","Gintama"
    ],
    "Episodes":
    [
        1014,720,366,366
    ]
})

In [48]:
df

       Anime  Episodes
0  One Piece      1014
1     Naruto       720
2     Bleach       366
3    Gintama       366

In [49]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Modifying Index to DataFrame

In [50]:
df = pd.DataFrame({
   "Anime":
    [
        "One Piece","Naruto","Bleach","Gintama"
    ],
    "Episodes":
    [
        994,720,366,366
    ]
}, index=['a','b','c','d'])  #modifying index

In [51]:
df

       Anime  Episodes
a  One Piece       994
b     Naruto       720
c     Bleach       366
d    Gintama       366

### Create A Pandas Series

Unlike DataFrame, A Series is one dimensional representation of the data. You can either pass a one dimensional ndarray or a list to represent a Series.

In [52]:
df = pd.Series(["Good","Bad","Neutral"], index=['a','b','c'])
df2 = pd.Series(np.random.rand(10),index=list(range(1,11)))

In [53]:
print(df,'\n')
print(df2)

a       Good
b        Bad
c    Neutral
dtype: object

1     0.844303
2     0.050606
3     0.935169
4     0.157313
5     0.844680
6     0.284467
7     0.740232
8     0.372524
9     0.501980
10    0.554904
dtype: float64

Notice the dtype i.e., data type varies for the above two Series. In Pandas every non-numeric data type is an object. In example1 Series, we pass list of String elements whose dtype is object. In example2 Series, since it is numeric with fractional part its dtype is float64. 64 denotes 64 bit.

### Reading CSV File

Up until now we have used basic example data to create a DataFrame, in real world most of the data is in form .csv files. CSV stands for comma separated values. This can be viewed through excel sheet. In Machine Learning, Data Analysis and Data Visualization you will deal with dataset in large numbers. This dataset will be stored in .csv files. You need the help of Python Pandas to read the .csv file. There is a import csv module as well that deals with writing and reading csv files. But here we shall only focus on reading csv file through pandas.

```py
Syntax:
dataset = pd.read_csv(csv_file_path.csv)
```

You might be wandering where will this data come from? You can find large number of dataset on [Kaggle](http://kaggle.com/), [DPHI](https://dphi.tech/). You can even create your own csv file, either by doing Data Entry using Excel or By Web Scraping.

In [56]:
data = pd.read_csv("naruto_analysis.csv")
#well I am a One Piece Fan, never mind what dataset I chose, Just focus to understand the code

Note: The given dataset was obtained using Web Scraping [ListFist](https://listfist.com/list-of-one-piece-arcs) website. And the tutorial is available on [Anime Vyuh](https://animevyuh.org/the-big-three-anime/). The credits to original owner of the data is mentioned in the article

### To View the Data of Dataset

#### 1. head()

head() by default displays starting 5 rows of the dataset. 
```py
Syntax:
df.head() #default:5 rows
df.head(n) #n number of rows
```

In [57]:
data.head()

                        Arc names  Total Episodes
0    Prologue — Land of Waves Arc              19
1                Chūnin Exams Arc              48
2                Konoha Crush Arc              13
3          Search for Tsunade Arc              20
4  Land of Tea Escort Mission Arc               6

As mentioned earlier that by default head display the starting 5 rows of the dataset. But what if you need to display first 10 data from the dataset. Yes it is possible using head method by providing the integer value as the parameter:

In [58]:
data.head(10) #here n=10

                        Arc names  Total Episodes
0    Prologue — Land of Waves Arc              19
1                Chūnin Exams Arc              48
2                Konoha Crush Arc              13
3          Search for Tsunade Arc              20
4  Land of Tea Escort Mission Arc               6
5     Sasuke Recovery Mission Arc              29
6                 Filler Arcs Arc              85
7              Kakashi Gaiden Arc               0
8                         Special              17
9     Kazekage Rescue Mission Arc              32

#### 2. tail()

Like head(), even tail() will return ordered row data but from the bottom.

```py
Syntax:
df.tail() #default:5 rows
df.tail(n)  #n number of rows
```

In [59]:
data.tail()

                                            Arc names  Total Episodes
32                                      Childhood Arc               4
33                Sasuke Shinden: Book of Sunrise Arc               5
34  Shikamaru Hiden: A Cloud Drifting in Silent Da...               5
35    Konoha Hiden: The Perfect Day for a Wedding Arc               7
36      The Seventh Hokage and the Scarlet Spring Arc               0

If the integer argument is not passed inside the tail method then it indicates the default state and thus only 5 ordered rows are displayed from the bottom.

In order to print last 8 row data we can pass 8 as the argument:

In [60]:
data.tail(8)

                                            Arc names  Total Episodes
29  Jiraiya Shinobi Handbook: The Tale of Naruto t...              19
30                       Kaguya Ōtsutsuki Strikes Arc              23
31        Itachi Shinden Book: Light and Darkness Arc               5
32                                      Childhood Arc               4
33                Sasuke Shinden: Book of Sunrise Arc               5
34  Shikamaru Hiden: A Cloud Drifting in Silent Da...               5
35    Konoha Hiden: The Perfect Day for a Wedding Arc               7
36      The Seventh Hokage and the Scarlet Spring Arc               0

Remember head and tail returns the ordered dataset. 

The third way to view the dataset is by using sample method.

#### 3. sample()

sample method is used to display the rows in unordered 
```py
Syntax:
df.sample() #by default only one row
df.sample(n) #n number of unordered rows
```

In [61]:
data.sample() #just one randomly selected row

          Arc names  Total Episodes
1  Chūnin Exams Arc              48

In [62]:
data.sample(5) #random 5 rows

                                            Arc names  Total Episodes
0                        Prologue — Land of Waves Arc              19
17                            Six-Tails Unleashed Arc               8
20                               Five Kage Summit Arc              18
29  Jiraiya Shinobi Handbook: The Tale of Naruto t...              19
32                                      Childhood Arc               4

### Info and Describe

Info displays a report on the data index range, data column, dtype and memory usage. The data column consists of Column Name, Non-Null count and dtype.

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Arc names       37 non-null     object
 1   Total Episodes  37 non-null     int64
dtypes: int64(1), object(1)
memory usage: 720.0+ bytes

The describe() method returns description of the numeric data in the DataFrame. describe() gives an overview on data count, mean, median, quartile range, min and max values in the given data.

In [64]:
data.describe()

       Total Episodes
count       37.000000
mean        19.459459
std         16.485001
min          0.000000
25%          7.000000
50%         18.000000
75%         22.000000
max         85.000000

Lets take a bigger dataset and understand `info()` and `describe()`

In [65]:
dataset = pd.read_csv("data.csv")

In [66]:
dataset.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [67]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

Using info you get idea that we have 12 columns and their names. It also displays the datatype of each column.

In [68]:
dataset.describe() #works only on numeric data

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

### Shape of Dataset

In [69]:
dataset.shape

(8807, 12)

### Checking for Null Data

Pandas also enables us to see the total sum of empty values in each columns.

In [70]:
dataset.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [71]:
dataset.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

The above command returns the total sum from each column and there is one more command that returns the total sum of emtpy values from entire dataset.

In [72]:
dataset.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Note: We shall look how to deal with Empty Values in Part-2

### Filtering Dataset Or Masking

In [73]:
data = {
    "Anime Names":
            [
            "One Piece","Naruto","Gintama","Bleach","Attack On Titan"  ,  "Code Geass","Death Note","Haikyuu","Erased","Hunter X Hunter","Hyouka","No Game No Life","Kakegurui","Jujutsu Kaisen","Anohana","Monster","Wotakoi","Oregariu"
            ],
    "Total Episodes":
            [
            1014,720,366,366,77,50,37,85,12,144,22,12,24,24,11,70,12,48
            ],
    "Genre":
            [
            "Adventure","Shounen","Comedy","Action","Dark Fantasy","Mystery","Crime","Sports","Mystery","Shounen","Detective","Mystery","Drama","Action","Drama","Crime","Romance","Romance"
            ]
}
df = pd.DataFrame(data)

In [74]:
df

        Anime Names  Total Episodes         Genre
0         One Piece            1014     Adventure
1            Naruto             720       Shounen
2           Gintama             366        Comedy
3            Bleach             366        Action
4   Attack On Titan              77  Dark Fantasy
5        Code Geass              50       Mystery
6        Death Note              37         Crime
7           Haikyuu              85        Sports
8            Erased              12       Mystery
9   Hunter X Hunter             144       Shounen
10           Hyouka              22     Detective
11  No Game No Life              12       Mystery
12        Kakegurui              24         Drama
13   Jujutsu Kaisen              24        Action
14          Anohana              11         Drama
15          Monster              70         Crime
16          Wotakoi              12       Romance
17         Oregariu              48       Romance

There are three different through which you could filter the dataset:

## Single Filtering

### First: Using Simple Condition

In [75]:
above_100_episodes = df[df['Total Episodes']>100]

In [76]:
above_100_episodes

       Anime Names  Total Episodes      Genre
0        One Piece            1014  Adventure
1           Naruto             720    Shounen
2          Gintama             366     Comedy
3           Bleach             366     Action
9  Hunter X Hunter             144    Shounen

### Second: Using Anonymous Function[map and lambda]

In [77]:
above_100 = df[df['Total Episodes'].map(lambda x:x>100)]

In [78]:
above_100

       Anime Names  Total Episodes      Genre
0        One Piece            1014  Adventure
1           Naruto             720    Shounen
2          Gintama             366     Comedy
3           Bleach             366     Action
9  Hunter X Hunter             144    Shounen

### Third: Using Series

In [93]:
above_100_check = list()
for i in df['Total Episodes']:
    if i>100:
        above_100_check.append(True)
    else:
        above_100_check.append(False)

ser = pd.Series(above_100_check)
above_100_series = df[ser]

In [94]:
above_100_series

       Anime Names  Total Episodes      Genre
0        One Piece            1014  Adventure
1           Naruto             720    Shounen
2          Gintama             366     Comedy
3           Bleach             366     Action
9  Hunter X Hunter             144    Shounen

## Muliple Filtering

### 1.Using Simple Logical Conditions

In [84]:
above_100_shounen = df[(df['Total Episodes']>100) & (df['Genre']=='Shounen')]
above_100_shounen

       Anime Names  Total Episodes    Genre
1           Naruto             720  Shounen
9  Hunter X Hunter             144  Shounen

### 2. Using Map and Lambda

In [86]:
less_than_50_drama = df[df['Total Episodes'].map(lambda x:x<=50) & df['Genre'].map(lambda anime:anime=="Drama")]

In [87]:
less_than_50_drama

   Anime Names  Total Episodes  Genre
12   Kakegurui              24  Drama
14     Anohana              11  Drama

### Maximum And Minimum Data In the Dataset

In [97]:
maximum_episodes = df[df['Total Episodes']==df['Total Episodes'].max()]

In [98]:
maximum_episodes

  Anime Names  Total Episodes      Genre
0   One Piece            1014  Adventure

In [99]:
minimum_episodes = df[df['Total Episodes']==df['Total Episodes'].min()]

In [100]:
minimum_episodes

   Anime Names  Total Episodes  Genre
14     Anohana              11  Drama

In [101]:
dataset.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [103]:
latest_release_year = dataset[dataset['release_year'] == dataset['release_year'].max()]

In [105]:
print(dataset['release_year'].max())
print('\n\n')
latest_release_year

2021

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
1468,s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a..."
1551,s1552,TV Show,Hilda,NaN,"Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...","United Kingdom, Canada, United States","December 14, 2020",2021,TV-Y7,2 Seasons,Kids' TV,"Fearless, free-spirited Hilda finds new friend..."
1696,s1697,TV Show,Polly Pocket,NaN,"Emily Tennant, Shannon Chan-Kent, Kazumi Evans...","Canada, United States, Ireland","November 15, 2020",2021,TV-Y,2 Seasons,Kids' TV,After uncovering a magical locket that allows ...
2920,s2921,TV Show,Love Is Blind,NaN,"Nick Lachey, Vanessa Lachey",United States,"February 13, 2020",2021,TV-MA,1 Season,"Reality TV, Romantic TV Shows",Nick and Vanessa Lachey host this social exper...
8437,s8438,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,"January 2, 2021",2021,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies","Hosts David Spade, Fortune Feimster and London..."

In [106]:
old_release_year = dataset[dataset['release_year'] == dataset['release_year'].min()]

In [107]:
print(dataset['release_year'].min())
print('\n\n')
old_release_year

1925

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

### Correlation

Correlation is an important statistic that tells us how two sets of values are related to each other. A positive correlation indicates that the values tend to increase with one another and a negative correlation indicates that values in one set tend to decrease with an increase in the other set. And the correlation is in range -1 to 1. 

Let’s take an example to understand Correlation. Say you and your friend are sitting next to each other in an exam hall. Definitely, both of you will cheat and write down similar answer. In simple words increase in your marks will affect increase in your friends marks. Also decrease in your marks will affect decrease in your friends marks. So we can conclude the Correlation is strong i.e., relationship between two entities was similar. If correlation is more than >=0.6 it is said to be Positive Correlation, and if correlation is less than <= -0.6 it is said to be Negative Correlation. This threshold value considered to state a strong Correlation. 

Now lets take another scenario. Say you and some stranger kid are sitting next to each other in an exam hall. So you rarely will cheat with some stranger. Now the marks you get and that stranger get are not related. Thus Correlation will be weak, when there is no relation between the values. And the Correlation value will be near to 0. 
```py
Syntax:
df.corr()
```

Lets take a dataset with lots of numeric data, we shall use both `describe()` and `corr()` method on it

In [108]:
numeric = pd.read_csv('random.csv')

In [109]:
numeric.head(2)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN

In [110]:
numeric.describe()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
count,5.690000e+02,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,0.0
mean,3.037183e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,...,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946,NaN
std,1.250206e+08,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,...,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061,NaN
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,...,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040,NaN
25%,8.692180e+05,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,...,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460,NaN
50%,9.060240e+05,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,...,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040,NaN
75%,8.813129e+06,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,...,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080,NaN
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,NaN

In [111]:
numeric.corr()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
id,1.000000,0.074626,0.099770,0.073159,0.096893,-0.012968,0.000096,0.050080,0.044158,-0.022114,...,0.064720,0.079986,0.107187,0.010338,-0.002968,0.023203,0.035174,-0.044224,-0.029866,NaN
radius_mean,0.074626,1.000000,0.323782,0.997855,0.987357,0.170581,0.506124,0.676764,0.822529,0.147741,...,0.297008,0.965137,0.941082,0.119616,0.413463,0.526911,0.744214,0.163953,0.007066,NaN
texture_mean,0.099770,0.323782,1.000000,0.329533,0.321086,-0.023389,0.236702,0.302418,0.293464,0.071401,...,0.912045,0.358040,0.343546,0.077503,0.277830,0.301025,0.295316,0.105008,0.119205,NaN
perimeter_mean,0.073159,0.997855,0.329533,1.000000,0.986507,0.207278,0.556936,0.716136,0.850977,0.183027,...,0.303038,0.970387,0.941550,0.150549,0.455774,0.563879,0.771241,0.189115,0.051019,NaN
area_mean,0.096893,0.987357,0.321086,0.986507,1.000000,0.177028,0.498502,0.685983,0.823269,0.151293,...,0.287489,0.959120,0.959213,0.123523,0.390410,0.512606,0.722017,0.143570,0.003738,NaN
smoothness_mean,-0.012968,0.170581,-0.023389,0.207278,0.177028,1.000000,0.659123,0.521984,0.553695,0.557775,...,0.036072,0.238853,0.206718,0.805324,0.472468,0.434926,0.503053,0.394309,0.499316,NaN
compactness_mean,0.000096,0.506124,0.236702,0.556936,0.498502,0.659123,1.000000,0.883121,0.831135,0.602641,...,0.248133,0.590210,0.509604,0.565541,0.865809,0.816275,0.815573,0.510223,0.687382,NaN
concavity_mean,0.050080,0.676764,0.302418,0.716136,0.685983,0.521984,0.883121,1.000000,0.921391,0.500667,...,0.299879,0.729565,0.675987,0.448822,0.754968,0.884103,0.861323,0.409464,0.514930,NaN
concave points_mean,0.044158,0.822529,0.293464,0.850977,0.823269,0.553695,0.831135,0.921391,1.000000,0.462497,...,0.292752,0.855923,0.809630,0.452753,0.667454,0.752399,0.910155,0.375744,0.368661,NaN
symmetry_mean,-0.022114,0.147741,0.071401,0.183027,0.151293,0.557775,0.602641,0.500667,0.462497,1.000000,...,0.090651,0.219169,0.177193,0.426675,0.473200,0.433721,0.430297,0.699826,0.438413,NaN
fractal_dimension_mean,-0.052511,-0.311631,-0.076437,-0.261477,-0.283110,0.584792,0.565369,0.336783,0.166917,0.479921,...,-0.051269,-0.205151,-0.231854,0.504942,0.458798,0.346234,0.175325,0.334019,0.767297,NaN
radius_se,0.143048,0.679090,0.275869,0.691765,0.732562,0.301467,0.497473,0.631925,0.698050,0.303379,...,0.194799,0.719684,0.751548,0.141919,0.287103,0.380585,0.531062,0.094543,0.049559,NaN
texture_se,-0.007526,-0.097317,0.386358,-0.086761,-0.066280,0.068406,0.046205,0.076218,0.021480,0.128053,...,0.409003,-0.102242,-0.083195,-0.073658,-0.092439,-0.068956,-0.119638,-0.128215,-0.045655,NaN
perimeter_se,0.137331,0.674172,0.281673,0.693135,0.726628,0.296092,0.548905,0.660391,0.710650,0.313893,...,0.200371,0.721031,0.730713,0.130054,0.341919,0.418899,0.554897,0.109930,0.085433,NaN
area_se,0.177742,0.735864,0.259845,0.744983,0.800086,0.246552,0.455653,0.617427,0.690299,0.223970,...,0.196497,0.761213,0.811408,0.125389,0.283257,0.385100,0.538166,0.074126,0.017539,NaN
smoothness_se,0.096781,-0.222600,0.006614,-0.202694,-0.166777,0.332375,0.135299,0.098564,0.027653,0.187321,...,-0.074743,-0.217304,-0.182195,0.314457,-0.055558,-0.058298,-0.102007,-0.107342,0.101480,NaN
compactness_se,0.033961,0.206000,0.191975,0.250744,0.212583,0.318943,0.738722,0.670279,0.490424,0.421659,...,0.143003,0.260516,0.199371,0.227394,0.678780,0.639147,0.483208,0.277878,0.590973,NaN
concavity_se,0.055239,0.194204,0.143293,0.228082,0.207660,0.248396,0.570517,0.691270,0.439167,0.342627,...,0.100241,0.226680,0.188353,0.168481,0.484858,0.662564,0.440472,0.197788,0.439329,NaN
concave points_se,0.078768,0.376169,0.163851,0.407217,0.372320,0.380676,0.642262,0.683260,0.615634,0.393298,...,0.086741,0.394999,0.342271,0.215351,0.452888,0.549592,0.602450,0.143116,0.310655,NaN
symmetry_se,-0.017306,-0.104321,0.009127,-0.081629,-0.072497,0.200774,0.229977,0.178009,0.095351,0.449137,...,-0.077473,-0.103753,-0.110343,-0.012662,0.060255,0.037119,-0.030413,0.389402,0.078079,NaN
fractal_dimension_se,0.025725,-0.042641,0.054458,-0.005523,-0.019887,0.283607,0.507318,0.449301,0.257584,0.331786,...,-0.003195,-0.001000,-0.022736,0.170568,0.390159,0.379975,0.215204,0.111094,0.591328,NaN
radius_worst,0.082405,0.969539,0.352573,0.969476,0.962746,0.213120,0.535315,0.688236,0.830318,0.185728,...,0.359921,0.993708,0.984015,0.216574,0.475820,0.573975,0.787424,0.243529,0.093492,NaN
texture_worst,0.064720,0.297008,0.912045,0.303038,0.287489,0.036072,0.248133,0.299879,0.292752,0.090651,...,1.000000,0.365098,0.345842,0.225429,0.360832,0.368366,0.359755,0.233027,0.219122,NaN
perimeter_worst,0.079986,0.965137,0.358040,0.970387,0.959120,0.238853,0.590210,0.729565,0.855923,0.219169,...,0.365098,1.000000,0.977578,0.236775,0.529408,0.618344,0.816322,0.269493,0.138957,NaN
area_worst,0.107187,0.941082,0.343546,0.941550,0.959213,0.206718,0.509604,0.675987,0.809630,0.177193,...,0.345842,0.977578,1.000000,0.209145,0.438296,0.543331,0.747419,0.209146,0.079647,NaN
smoothness_worst,0.010338,0.119616,0.077503,0.150549,0.123523,0.805324,0.565541,0.448822,0.452753,0.426675,...,0.225429,0.236775,0.209145,1.000000,0.568187,0.518523,0.547691,0.493838,0.617624,NaN
compactness_worst,-0.002968,0.413463,0.277830,0.455774,0.390410,0.472468,0.865809,0.754968,0.667454,0.473200,...,0.360832,0.529408,0.438296,0.568187,1.000000,0.892261,0.801080,0.614441,0.810455,NaN
concavity_worst,0.023203,0.526911,0.301025,0.563879,0.512606,0.434926,0.816275,0.884103,0.752399,0.433721,...,0.368366,0.618344,0.543331,0.518523,0.892261,1.000000,0.855434,0.532520,0.686511,NaN
concave points_worst,0.035174,0.744214,0.295316,0.771241,0.722017,0.503053,0.815573,0.861323,0.910155,0.430297,...,0.359755,0.816322,0.747419,0.547691,0.801080,0.855434,1.000000,0.502528,0.511114,NaN
symmetry_worst,-0.044224,0.163953,0.105008,0.189115,0.143570,0.394309,0.510223,0.409464,0.375744,0.699826,...,0.233027,0.269493,0.209146,0.493838,0.614441,0.532520,0.502528,1.000000,0.537848,NaN
fractal_dimension_worst,-0.029866,0.007066,0.119205,0.051019,0.003738,0.499316,0.687382,0.514930,0.368661,0.438413,...,0.219122,0.138957,0.079647,0.617624,0.810455,0.686511,0.511114,0.537848,1.000000,NaN
Unnamed: 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN